---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>https://stockanalyza.com/</loc><lastmod>{{ analyses[0].date }}</lastmod></url>
{%- for a in analyses %}
  <url><loc>https://stockanalyza.com/analysis/{{ a.slug }}/</loc><lastmod>{{ a.date }}</lastmod></url>
{%- endfor %}
  <url><loc>https://stockanalyza.com/about/</loc><lastmod>2026-09-21</lastmod></url>
</urlset>
